@model WDP2022A2Mac.Models.Company

@{
    ViewData["Title"] = "Edit";
}
<div id="background2" class="row">
    <div>
    <header id="listOfCompanies">Edit company</header>

        <div class="col-md-12">
            <hr />
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group" style="padding-bottom:2%;">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group" style="padding-bottom:2%;">
                    <label asp-for="Summary" class="control-label"></label>
                    <textarea asp-for="Summary" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Upload image file</label>
                    <input type="file" name="file" class="form-control" />
                </div>

                <div class="form-group">
                    <label hidden asp-for="ImageFilename" class="control-label"></label>
                    <input type="hidden" asp-for="ImageFilename" class="form-control" />
                    <span asp-validation-for="ImageFilename" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label hidden asp-for="AnchorLink" class="control-label"></label>
                    <input type="hidden" asp-for="AnchorLink" class="form-control" />
                    <span asp-validation-for="AnchorLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label hidden asp-for="Like" class="control-label"></label>
                    <input type="hidden" asp-for="Like" class="form-control" />
                    <span asp-validation-for="Like" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label hidden class="form-check-label">
                        <input type="hidden" class="form-check-input" asp-for="canIncreaseLike" /> @Html.DisplayNameFor(model => model.canIncreaseLike)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button id="whiteButtonStyle" type="button" class="btn btn-default"><a id="whiteButtonText" asp-action="Index">Back to List</a></button>
                </div>
            </form>
            <hr />
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
